 
<div class="container-fluid">
    <form #userForm="ngForm" (ngSubmit)="submitData()" novalidate>
      <div class="form-group">
        <label>Name</label>
        <input 
          type="text" 
          #name="ngModel" 
          required 
          class="form-control" 
          [class.is-invalid]="name.invalid && name.touched"
          [class.is-valid]="!name.invalid && name.touched"
          name="name" 
          [(ngModel)]="userModel.name"
        >
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>
      <div class="form-group">
        <label>Lastname</label>
        <input 
          type="text" 
          #lastname="ngModel" 
          class="form-control" 
          name="lastname" 
          [(ngModel)]="userModel.lastname"
        >
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email" 
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required 
          class="form-control" 
          [class.is-invalid]="email.invalid && email.touched"
          [class.is-valid]="!email.invalid && email.touched"
          name="email" 
          [(ngModel)]="userModel.email"
        >
        <div *ngIf="email.errors && email.touched">
          <small class="text-danger" *ngIf="email.errors.required && email.touched">Email is required</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Email format is incorrect</small>      
        </div>
      </div>
      <div class="form-group">
        <label>Born date</label>
        <input
          type="date" 
          #bornDate="ngModel" 
          required 
          class="form-control" 
          [class.is-invalid]="bornDate.invalid && bornDate.touched"
          [class.is-valid]="!bornDate.invalid && bornDate.touched"
          name="bornDate" 
          [(ngModel)]="userModel.bornDate"
        >
        <small class="text-danger" [class.d-none]="bornDate.valid || bornDate.untouched">Born date is required</small>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input
          type="tel" 
          #phone="ngModel" 
          required
          pattern="\d{3}[\-]\d{3}[\-]\d{4}"
          class="form-control"
          [class.is-invalid]="phone.invalid && phone.touched"
          [class.is-valid]="!phone.invalid && phone.touched"
          name="phone" 
          [(ngModel)]="userModel.phone"
        >
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required && phone.touched">Phone number is required</small>      
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be like xxx-xxx-xxxx</small>      
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password" 
          #password="ngModel"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          required 
          class="form-control" 
          [class.is-invalid]="password.invalid && password.touched"
          [class.is-valid]="!password.invalid && password.touched"
          name="password" 
          [(ngModel)]="userModel.password"
        >
        <div *ngIf="password.errors && password.touched">
          <small class="text-danger" *ngIf="password.errors.required && password.touched">Password is required</small>      
          <small class="text-danger" *ngIf="password.errors.pattern">Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>      
        </div>
      </div>
      <div class="form-group" *ngIf="!password.errors">
        <label>Confirm password</label>
        <input
          type="password" 
          #confirmPassword="ngModel"
          pattern=".{8,}" 
          required
          class="form-control" 
          [class.is-invalid]="(userModel.password !== userModel.confirmPassword) && confirmPassword.touched"
          [class.is-valid]="(userModel.password === userModel.confirmPassword)"
          name="confirmPassword" 
          [(ngModel)]="userModel.confirmPassword"
        >
        <small class="text-danger" *ngIf="(userModel.password !== userModel.confirmPassword) && confirmPassword.touched">
          Password is not same
        </small>
      </div>
  
      <button 
        class="btn btn-primary" 
        [disabled]="userForm.form.invalid" 
        type="submit"
      >
        Submit form
      </button>
    </form>
  </div>